.hot-products{
    &__item{
        flex-basis: 12%;
        height: auto ;
        margin:10px 0px ;
        position: relative ;
    }
    &__price{
        
    }
    &__title{

    }
    &__description{

    }

}

@media screen and (min-width:1200px){
    
}