.banner-products{
    background: rgb(228, 244, 248) ;
    &__content{
        flex-basis:24% ;
        height:150px;
        margin:20px 0px;
        &__image{
            width:100% ;
            height:150px;
            border-radius: 8px ;
            cursor: pointer;
        }
    }

}

@media screen and (min-width:1200px){
    .banner-products{
        &__content{
            height:180px;
            &__image{
                width:100% ;
                height:180px ;
            }
        }
    
    }
}