$background: #fefefe;
$text: #4b507a;
$cyan: #60daaa;
$yellow: #fbca67;
$orange: #ff8a30;
$red: #f45e61;
$purple: #6477b9;
$blue: #0eb7da;
$white : #fff ;
$black : #333 ;
.navbar{
    width:300px ;
    height: 100%;
    position: fixed;
    top:0px ;
    left:0px ;
    font-size: 1.6rem;
    padding:0 10px ;
    & ul{
        padding:0px; 
        margin:0px ;
        list-style-type: none;
        & li{
           position: relative;
        }
    }
    &__logo ,
    &__user ,
    &__search ,
    &__list ,
    &__trademark ,
    &__contact{
        margin-top:10px ;
    }
    &__logo{
        & a{
            padding:10px 10px;
            color:black ;
            text-decoration: none;
            font-size: 2rem;
        }
    }
    &__user{
        width:100% ;
        height: auto;
        font-size: 1.3rem;
        text-align:center ;
        & ul li{
            position: relative;
            display: inline-block;
            & a{
                padding:10px 6px ;
                display: inline-block;
                text-decoration: none;
                color:#333 ;
                text-transform:capitalize ;
                text-align:center ;
                &:hover{
                    color:#ccc ;
                }
            }
        }
    }
    &__list{
        & ul li a{
            padding:16px 16px ;
            display: block;
            text-decoration: none;
            color:black ;
            text-transform: uppercase;
            font-size: 1.6rem;
            text-align:center ;
            &:hover{
                background: rgb(247, 125, 103);
                color:#fff ;
                text-decoration: underline;
            }
        }
    }
    &__icon{
        margin-right: 2px;
        color:#333 ;
    }
    &__contact{
        width:100% ;
        height:auto;
        text-align:center ;
        position: absolute;
        bottom:0px;
        left:0px ;
        padding:10px 0px ;
        &__number-phone{
            background: black;
            color:white ;
            padding:10px ;
            &::after{
                content: '';
                clear: both;
                display: table;
            }
        }
        &__icon{
            margin-top:10px ;
        }
        & a {
            color:black ;
            text-decoration: none;
            padding:5px ;
            font-size: 2rem ;
        }
        &__trademark{
            color:#333 ;
            text-align:center ;
        }
    }
}
.cart{
    position: relative; 
    &__quantity__badge{
        position: absolute;
        top:10px; 
        left:17px ;
        background: $black ; 
        width:20px ;
        height: 20px;
        border-radius: 50%;
        color:$white ;
        text-align:center ;
    }
    &__quantity__number{
        position: absolute;
        top:50% ;
        left:50% ;
        transform: translate(-50% , -50%);
        font-size:1.2rem ;
    }

}
.logo{
    width:100px ;
    height:100px ;
    transform: scale(1.5);
    display: block;
    margin:auto ;
}
.hot{
    width:50px ;
    height:30px ;
    background : red ;
    color:white ;
    position: absolute;
    top:-10px; 
    left:70px ;
    text-align:center ;
    text-transform: capitalize;
    clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
}
.phone{
    margin-right:10px ;
}
.count{
    width:20px ;
    height:20px ;
    border-radius: 50%;
    background: red;
    color:white ;
    line-height: 20px;
    text-align:center;
    position: absolute;
    top:-6px; 
    left:5px ;
}