.new-products{
    &__item{
        flex-basis: 19%;
        height: auto ;
        margin:10px 0px ;
        position: relative;
    }
    &__price{
        
    }
    &__title{

    }
    &__description{

    }

}
